<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwadee.enroll_employ_sys.dao.print_recordsDao">



    <select id="getPrintRecordsList"  resultType="com.hwadee.enroll_employ_sys.entity.Print_Records">
    select
   		print_time,
   		a_id,
   		s_name
    from print
  </select>

</mapper>