<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://www.layuicdn.com/layui-v2.5.6/css/layui.css">
</head>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <!-- 头部导航栏 -->
        <div class="layui-header">
            <div class="layui-logo">招生就业管理系统</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="">宿舍管理</a></li>
                <li class="layui-nav-item"><a href="">题库管理</a></li>
                <li class="layui-nav-item"><a href="">考试管理</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a></dd>
                        <dd><a href="">消息管理</a></dd>
                        <dd><a href="">授权管理</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img"> 贤心
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">退出</a></li>
            </ul>
        </div>
        <!-- 侧边导航栏 -->
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <!-- 宿舍管理模块 -->
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">宿舍管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="dormitory-Info.html">宿舍详情</a></dd>
                            <dd><a href="increase-dormitory.html">添加宿舍</a></dd>
                        </dl>
                    </li>
                    <!-- 题库管理模块 -->
                    <li class="layui-nav-item">
                        <a href="javascript:;">题库管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="question-bank.html">题库信息</a></dd>
                            <dd><a href="increase-questionBank.html">添加题库</a></dd>
                        </dl>
                    </li>
                    <!-- 考试管理模块 -->
                    <li class="layui-nav-item">
                        <a href="javascript:;">考试管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="examination.html">考试信息</a></dd>
                            <dd><a href="increase-exam.html">增加考试</a></dd>
                            <dd><a href="score-management.html">成绩管理</a></dd>
                        </dl>
                    </li>
                    <!-- 学生管理模块 -->
                    <li class="layui-nav-item">
                        <a href="javascript:;">学生管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="demo.html">添加成员</a></dd>
                            <dd><a href="javascript:;">列表二</a></dd>
                        </dl>
                    </li>
                    <!-- 专业管理模块 -->
                    <li class="layui-nav-item">
                        <a href="javascript:;">专业管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="demo.html">添加成员</a></dd>
                            <dd><a href="javascript:;">列表二</a></dd>
                        </dl>
                    </li>
                    <!-- 年级管理模块 -->
                    <li class="layui-nav-item">
                        <a href="javascript:;">年级管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="demo.html">添加成员</a></dd>
                            <dd><a href="javascript:;">列表二</a></dd>
                        </dl>
                    </li>
                    <!-- 班级管理模块 -->
                    <li class="layui-nav-item">
                        <a href="javascript:;">班级管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="demo.html">添加成员</a></dd>
                            <dd><a href="javascript:;">列表二</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <iframe src="main.html" id="main" width="100%" style="height: 99.9%" frameborder="0"></iframe>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
        </div>
    </div>
    <script src="https://www.layuicdn.com/layui-v2.5.6/layui.js"></script>
    <script>
        //JavaScript代码区域
        layui.use(['element', 'jquery'], function() {
            var $ = layui.jquery;
            var element = layui.element;
            $(document).ready(function() {
                $("dd>a").click(function(e) {
                    e.preventDefault();
                    $("#main").attr("src", $(this).attr("href"));
                });
            });
        });
    </script>
</body>

</html>