<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwadee.dao.LeaveMapper">


  
  <select id="getLeaveList"  resultType="com.hwadee.pojo.Leave">
    select 
   		s_id,
		
		s_name,
		leave_start_time,
		leave_end_time,
		leave_time,
		leave_apply_time,
		reason,
		leave_reviewer,
		leave_reviewer_state
    from leave
     	
  </select>
  
  

  
  <delete id="deleteLeave" parameterType="java.lang.String">
    delete from leave
    where leave_id = #{leave_id}
  </delete>

  
  <insert id="insertLeave" parameterType="com.hwadee.pojo.Leave"> 

    insert into leave (
    	leave_id,
		s_id,
		s_name,
		leave_start_time,
		leave_end_time,
		leave_time,
		leave_apply_time,
		reason
      )
    values (#{leave_id,jdbcType=VARCHAR},#{s_id,jdbcType=VARCHAR}, #{s_name,jdbcType=VARCHAR}, 
      #{leave_start_time,jdbcType=VARCHAR}, #{leave_end_time,jdbcType=VARCHAR}
      , #{leave_time,jdbcType=VARCHAR}, #{leave_apply_time,jdbcType=VARCHAR}
      , #{reason,jdbcType=VARCHAR})
  </insert>


  <update id="updateLeave" parameterType="com.hwadee.pojo.Leave">
	  update leave
	    set 
	      s_id = #{s_id,jdbcType=VARCHAR}, 
	      s_name = #{s_name,jdbcType=VARCHAR}, 
	      leave_start_time = #{leave_start_time,jdbcType=VARCHAR}, 
	      leave_end_time = #{leave_end_time,jdbcType=VARCHAR},
	      leave_time = #{leave_time,jdbcType=VARCHAR},
	      leave_apply_time = #{leave_apply_time,jdbcType=VARCHAR},
	      reason = #{reason,jdbcType=VARCHAR},
	      leave_reviewer = #{leave_reviewer,jdbcType=VARCHAR},
	      leave_reviewer_state = #{leave_reviewer_state,jdbcType=VARCHAR}
	   where leave_id=#{leave_id}
  </update>
  

  <update id="updateLeavesh" parameterType="com.hwadee.pojo.Leave">
	  update leave
	    set 
	      leave_reviewer = #{leave_reviewer},
	      leave_reviewer_state = #{leave_reviewer_state}
	   where leave_id=#{leave_id}
  </update>



</mapper>